*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(3, 3, 40);
    color: white;
    height: 50px;
}
.choices{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}
.choice{
    height: 200px;
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
img:hover{
    height: 205px;
    opacity: 0.8;
}
img{
    height: 200px;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    font-size: 30px;
}

#userScore, #compScore{
    font-size: 60px;
}

#msg{
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 25px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;

}